body, html
{
    padding: 0px;
    margin: 0px;
}

body
{
    padding-bottom: 300px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div#console-output
{
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div#console-output > div.stderr
{
    color: #FF0000;
}

div#console-output > div.stderr::before
{
    content: '(error) ';
}

div#console-output > div.local
{
    color: #00BB00;
}

div#console-output > div.local::before
{
    content: '(local) ';
}

div#console
{
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 300px;
    background-color: black;
    color: white;
}

div#console > div#console-output
{
    overflow-y: scroll;
    height: 280px;
}

div#console-input
{
    position: relative;
    bottom: 0px;
}

div#console-input > input#command
{
    width: 100%;
    height: 20px;
    border: 1px solid black;
    background: #333;
    color: white;
}
